<ul class="nav nav-tabs">
    <% if(example_num === 0) { %>
        <li class = "active">
    <% } else { %>
        <li>
    <% } %>
        <a href = "/examples_home"> Home </a>
    </li>
    <% if(example_num === 1) { %>
        <li class = "active">
    <% } else { %>
        <li>
    <% } %>
        <a href = "/basic_embed">Example 1: Basic Embed</a>
    </li>
    <% if(example_num === 2) { %>
        <li class = "active">
    <% } else { %>
        <li>
    <% } %>
        <a  href = "/dynamic_load">Example 2: </a>
    </li>
</ul>
