<!doctype = html>
<html lang = "en">
<style>
   * {
         font-family: "Garamond";
      }
    .table-wrapper {
        margin-top: 50px;
    }

    .add-player-form {
        margin-top: 50px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <title><%= title %></title>
    <script type="text/javascript" src="https://10az.online.tableau.com/javascripts/api/tableau-2.min.js"></script>
    <script type="text/javascript">
        var viz;
        function initViz() {
            var containerDiv = document.getElementById("vizContainer"),
                url = "https://us-east-1.online.tableau.com/t/ethansdemosite/views/SuperstoreSalesandProfit/SuperstoreSalesandProfit",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                        console.log("Run this code when the viz has finished loading.");
                    }
                };

            // Create a viz object and embed it in the container div.
            var viz = new tableau.Viz(containerDiv, url, options);
        }
    </script>
    <nav class = "navbar navbar-inverse">
        <div class = "container-fluid">
            <div class = "navbar-header">
                <a class = "navbar-brand" href = "/"> Javsscript API Demo </a>
            </div>
            <ul class ="nav navbar-nav">
                <li class = "active"><a href = "https://onlinehelp.tableau.com/current/api/js_api/en-us/JavaScriptAPI/js_api.htm"> Getting Started</a></li>
                <li class = "active"><a href = "https://onlinehelp.tableau.com/current/api/js_api/en-us/JavaScriptAPI/js_api_ref.htm"> Documentation </a></li>
                <li class ="dropdown">
                    <a class = "dropdown-togle" data-toggle = "dropdown" href ="/example1"> Examples
                    <span class = "caret"></span></a>
                    <ul class = "dropdown-menu">
                        <li><a href = "/example1"> Basic Embed </a></li>
                        <li><a href = "/example2"> Example 2 </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</head>
<body onload = "initViz();">
