<!doctype = html>
<html lang = "en">
<style>
   * {
         font-family: 'Crete Round', serif;
      }
    .table-wrapper {
        margin-top: 50px;
    }

    .add-player-form {
        margin-top: 50px;
    }
    body {
        background: #eee;
        padding: 20px;
    }

    article {
        max-width: 50em;
        background: white;
        padding: 2em;
        margin: 1em auto;
    }

    .table-of-contents {
        float: right;
        width: 40%;
        background: #eee;
        font-size: 0.8em;
        padding: 1em 2em;
        margin: 0 0 0.5em 0.5em;
    }
    .table-of-contents ul {
        padding: 0;
    }
    .table-of-contents li {
        margin: 0 0 0.25em 0;
    }
    .table-of-contents a {
        text-decoration: none;
    }
        .table-of-contents a:hover,
        .table-of-contents a:active {
        text-decoration: underline;
    }

    h3:target {
        animation: highlight 1s ease;
    }

    @keyframes highlight {
        from { background: yellow; }
        to { background: white; }
    }
</style>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Crete+Round&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <title><%= title %></title>
    <script type="text/javascript" src="https://10az.online.tableau.com/javascripts/api/tableau-2.min.js"></script>
    <script type="text/javascript">
        var viz;
        function initViz() {
            var containerDiv = document.getElementById("vizContainer"),
                url = "https://us-east-1.online.tableau.com/t/ethansdemosite/views/SuperstoreSalesandProfit/SuperstoreSalesandProfit",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                        console.log("Run this code when the viz has finished loading.");
                    }
                };

            // Create a viz object and embed it in the container div.
            var viz = new tableau.Viz(containerDiv, url, options);
        }
    </script>
</head>
