<nav class = "navbar navbar-inverse">
    <div class = "container-fluid">
        <div class = "navbar-header">
            <a class = "navbar-brand" href = "/"> Javsscript API Demo </a>
        </div>
        <ul class ="nav navbar-nav">
            <li class = "active"><a href = "https://onlinehelp.tableau.com/current/api/js_api/en-us/JavaScriptAPI/js_api.htm" target = "_blank"> Getting Started</a></li>
            <li class = "active"><a href = "https://onlinehelp.tableau.com/current/api/js_api/en-us/JavaScriptAPI/js_api_ref.htm" target = "_blank"> Documentation </a></li>
            <li class ="dropdown">
                <a class = "dropdown-togle" data-toggle = "dropdown" href ="/example1"> Examples
                <span class = "caret"></span></a>
                <ul class = "dropdown-menu">
                    <li><a href = "/examples_home"> Examples Home </a></li>
                    <li><a href = "/basic_embed"> Example 1: Basic Embed Example </a></li>
                    <li><a href = "/dynamic_load"> Example 2: Dynamic Load Example </a></li>
                    <li><a href = "/filter_view"> Example 3: Filtering Example </a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
