<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<body onload = "initViz();">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-1"> </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Example 1: Basic Embed</h2></div>
            <div class="panel-body">
                <h3<b>Before Starting</b></h3>
                <p>

                </p>
                <h3><b>Getting Started</b></h3>
                <p>

                </p>
                <h3><b>Example</b></h3>
                <p>

                </p>
                </div>
            </div>
            <div class = "col-md-1"> </div>
        </div>
        <div class = "row">
            <div class = "col-md-1"> </div>
            <div id = "vizContainer"></div>
            <div class = "col-md-1"> </div>
        </div>
        
    </div>
</body>
</html>
