<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<body onload = "initViz();">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-1"> </div>
            <ul class="nav nav-tabs">
                <li>
                    <a href = "/examples_home"> Home </a>
                </li>
                <li class = "active">
                    <a href = "/basic_embed">Example 1: Basic Embed</a>
                </li>
                <li>
                    <a  href = "/example2">Example 2: </a>
                </li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-heading"><h2><b class = "text-primary">Example 1: Basic Embed</b></h2></div>
            <div class="panel-body">
                <h3><b>Before Starting</b></h3>
                <p>
                    Here is where a list of before starting information will go.
                </p>
                <h3><b>Getting Started</b></h3>
                <p>
                    Here is where getting started information will go.
                </p>
                <h3><b>Code</b></h3>
                <pre><code class = "prettyprint lang-javascript">
                    var viz;
                    function initViz() {
                        var containerDiv = document.getElementById("vizContainer"),
                            url = "https://us-east-1.online.tableau.com/t/ethansdemosite/views/SuperstoreSalesandProfit/SuperstoreSalesandProfit",
                            options = {
                                hideTabs: true,
                                onFirstInteractive: function () {
                                    console.log("Run this code when the viz has finished loading.");
                                }
                            };

                        // Create a viz object and embed it in the container div.
                        var viz = new tableau.Viz(containerDiv, url, options);
                    }
                </code></pre>
                </div>
            </div>
            <div class = "col-md-1"> </div>
        </div>
        <div class = "row">
            <div class = "col-md-1"> </div>
            <div id = "vizContainer"></div>
            <div class = "col-md-1"> </div>
        </div>
        <div class = "row">
            <div class = "col-md-1"> </div>
            <div class="panel panel-default">
            <div class="panel-body">
                <h3<b>Closing Notes</b></h3>
                <p>
                    Here is where closing notes will go.
                </p>
            </div>
            <div class = "col-md-1"> </div>
        </div>
    </div>
</body>
</html>
