<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<body onload = "initViz();">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-2"></div>
            <div class = "col-md-8">
                <div id="vizContainer" style="width:1300px; height:860px;"></div>
            </div>
            <div class = "col-md-2"></div>
        </div>
    </div>
</body>
</html>
