<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<body onload = "initViz();">
    <div class = "container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <div class = "row">
            <div class = "col-md-1"> </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h2><b>Example 1: Basic Embed</b></h2></div>
            <div class="panel-body">
                <b><b><h3>Before Starting</h3></b></b>
                <p>
                    Here is where a list of before starting information will go.
                </p>
                <h3><b>Getting Started</b></h3>
                <p>
                    Here is where getting started information will go.
                </p>
                <h3><b>Code</b></h3>
                <p>
                    Here is where the code information will go.
                </p>
                </div>
            </div>
            <div class = "col-md-1"> </div>
        </div>
        <div class = "row">
            <div class = "col-md-1"> </div>
            <div id = "vizContainer"></div>
            <div class = "col-md-1"> </div>
        </div>
        <div class = "row">
            <div class = "col-md-1"> </div>
            <div class="panel panel-default">
            <div class="panel-body">
                <h3<b>Closing Notes</b></h3>
                <p>
                    Here is where closing notes will go.
                </p>
            </div>
            <div class = "col-md-1"> </div>
        </div>
    </div>
</body>
</html>
