<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<body onload = "initViz();">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-1"> </div>
            <div id = "vizContainer"></div>
            <div class = "col-md-1"> </div>
        </div>
    </div>
</body>
</html>
