<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<script type="text/javascript">
    var viz;
    function initViz() {
        var vizContainer = document.getElementById("vizContainer"),
            url = "https://us-east-1.online.tableau.com/t/ethansdemosite/views/SuperstoreSalesandProfit/SuperstoreSalesandProfit",
            options = {
                hideTabs: true,
                onFirstInteractive: function () {
                    console.log("Run this code when the viz has finished loading.");
                }
            };

        // Create a viz object and embed it in the container div.
        var viz = new tableau.Viz(vizContainer, url, options);
    }
</script>
<body onload = "initViz();">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-1"> </div>
            <% include partials/example_nav.ejs %>
            <div class="panel panel-default">
                <div class="panel-heading"><h2><b class = "text-primary">Example 1: Basic Embed</b></h2></div>
                <div class="panel-body">
                    <h3><b>Getting Started</b></h3>
                    <p>
                        In this first example you will learn the basics of embedding a Viz into a webpage.  As a note, in the context of the JavaScript API a <code>Viz</code> is the parent class for all embeddable Tableau objects.  This can include dashboards, sheets, and stories.  In this example we will be embedding a dashboard, but the same code can be applied to an individual sheet or a story with minor tweaks.
                    </p>
                    <h3><b>Instructions</b></h3>
                    <ol>
                        <li>Include the JavaScript API from the Tableau Server hosting the visualizations.</li>
                            <pre><code class = "left">
                                &lt;script type="text/javascript" src="https://10az.online.tableau.com/javascripts/api/tableau-2.min.js"&gt;&lt;/script&gt;
                            </code></pre>
                        <li>Create a container in the body of page.</li>
                            <pre><code class = "left">
                                &lt;div class = "vizContainer"&gt;&lt;/div&gt;
                            </code></pre>
                        <li>Write a function which initiates a viz into the container.</li>
                            <pre><code class = "left">
                                var viz;
                                function initViz() {
                                    var vizContainer = document.getElementById("vizContainer")
                                    var url = "https://us-east-1.online.tableau.com/t/ethansdemosite/views/SuperstoreSalesandProfit/SuperstoreSalesandProfit"
                                    var options = {
                                        hideTabs: true,
                                        onFirstInteractive: function () {
                                            console.log("Run this code when the viz has finished loading.");
                                        }
                                    };
                                    // Create a viz object and embed it in the container div.
                                    var viz = new tableau.Viz(vizContainer, url, options);
                                }
                            </code></pre>
                        <li>Call the function to initialize the viz (note: this can be done in a variety ways but for the sake of this example we will do it when the <code>body</code> loads)</li>
                    </ol>

                    </div>
                </div>
            <div class = "col-md-1"> </div>
        </div>
        <div class = "row">
            <div class = "col-md-1"> </div>
            <div id = "vizContainer"></div>
            <div class = "col-md-1"> </div>
        </div>
        <div class = "row">
            <div class = "col-md-1"> </div>
            <div class="panel panel-default">
            <div class="panel-body">
                <h3<b>Closing Notes</b></h3>
                <p>
                    Here is where closing notes will go.
                </p>
            </div>
            <div class = "col-md-1"> </div>
        </div>
    </div>
</body>
</html>
