<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<body onload = "initViz();">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-1"> </div>
            <div class="panel panel-default">
                <div class="panel-heading">Example 1: Basic Embed</div>
                <div class="panel-body">
                    <p>
                        <h1>Before Starting</h1>
                        <h1>Getting Started</h1>
                        <h1>Example</h1>
                    </p>
                </div>
            </div>
            <div class = "col-md-1"> </div>
        </div>
        <div class = "row">
            <div class = "col-md-1"> </div>
            <div id = "vizContainer"></div>
            <div class = "col-md-1"> </div>
        </div>
    </div>
</body>
</html>
