<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<script type= "text/javascript">
    var vizList = [
        "https://us-east-1.online.tableau.com/t/ethansdemosite/views/SuperstoreSalesandProfit/SuperstoreSalesandProfit",
        "https://us-east-1.online.tableau.com/t/ethansdemosite/views/ProfitabilityIssues/Dashboard1"
    ];
    var viz;
    var numViz = vizList.length;
    var vizIndex = 0;

    function createViz(vizIncrement) {
        var vizContainer = document.getElementById("vizContainer");
        var options = {
            hideTabs: true
        };
        vizIndex += vizIncrement;
        if (vizIndex >= numViz) {
            vizIndex = 0;
        } else if (vizIndex < 0) {
            vizIndex = numViz - 1;
        }
        if (viz) {
            viz.dispose();
        }
        viz = new tableau.Viz(vizContainer, vizList[vizIndex], options);
    }
</script>
<body onload = "createViz(0);">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-1"> </div>
            <% include partials/example_nav.ejs %>
            <div class="panel panel-default">
                <div class="panel-heading"><h2><b class = "text-primary">Example 2: Dyanmic Load</b></h2></div>
                <div class="panel-body">
                    <h3><b>Before Starting</b></h3>
                    <p>
                        Here is where a list of before starting information will go.
                    </p>
                    <h3><b>Getting Started</b></h3>
                    <p>
                        Here is where getting started information will go.
                    </p>
                    <h3><b>Code</b></h3>
                    <pre><code class = "prettyprint lang-javascript">
                        var vizList = [
                            "https://us-east-1.online.tableau.com/t/ethansdemosite/views/SuperstoreSalesandProfit/SuperstoreSalesandProfit",
                            "https://us-east-1.online.tableau.com/t/ethansdemosite/views/ProfitabilityIssues/Dashboard1"
                        ];
                        var viz;
                        var numViz = vizList.length;
                        var vizIndex = 0;

                        function createViz(vizIncrement) {
                            var vizContainer = document.getElementById("vizContainer");
                            var options = {
                                hideTabs: true
                            };
                            vizIndex += vizIncrement;
                            if (vizIndex >= numViz) {
                                vizIndex = 0;
                            } else if (vizIndex < 0) {
                                vizIndex = numViz - 1;
                            }
                            if (viz) {
                                viz.dispose();
                            }
                            viz = new tableau.Viz(vizContainer, vizList[vizIndex], options);
                        }
                    </code></pre>
                    </div>
                </div>
            <div class = "col-md-1"> </div>
        </div>
        <div class = "row">
            <div class = "col-md-1"> </div>
            <ul class = "nav nav-tabs">
                <li>
                    <a onclick="javascript:createViz(-1);">Previous</a>
                </li>
                <li>
                    <a onclick onclick= "javascript:createViz(1);">Next</a>
                </li>
            </ul>
            <div id = "vizContainer"></div>
            <div class = "col-md-1"> </div>
        </div>
        <div class = "row">
            <div class = "col-md-1"> </div>
            <div class="panel panel-default">
            <div class="panel-body">
                <h3<b>Closing Notes</b></h3>
                <p>
                    Here is where closing notes will go.
                </p>
            </div>
            <div class = "col-md-1"> </div>
        </div>
    </div>
</body>
</html>
