<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<script type = "text/javascript">
    var vizList = [
        "https://us-east-1.online.tableau.com/t/ethansdemosite/views/SuperstoreSalesandProfit/SuperstoreSalesandProfit",
        "https://us-east-1.online.tableau.com/#/site/ethansdemosite/views/ProfitabilityIssues/Dashboard1"
    ];
    var viz;
    var numViz = vizList.length;
    var vizIndex = 0;

    function createViz(vizIncrement) {
        var vizDiv = document.getElementById("vizContainer");
        var options = {
            hideTabs = true;
        };
        vizIndex += vizIncrement;
        if (vizIndex >= numViz) {
            vizIndex = 0;
        } else if (vizIndex < 0) {
            vizIndex = numViz - 1;
        }
        if (viz) {
            viz.dispose();
        }
        var vizURL = vizList[vizIndex];
        viz = new tableau.Viz(vizDiv, vizURL, options);
    }
</script>
<body onload = "createViz(0)">
    <div id = "vizContainer"></div>
    <button style="width:100px;" onclick="javascript:createViz(-1);">Previous</button>
    <button style="width:100px;" onclick="javascript:createViz(1);">Next</button>
</body>
