<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<body>
    <div class = "container">
        <div class = "all-questions">
            <div class = "row">
                <div class = "col-md-1"> </div>
                <% include partials/example_nav.ejs %>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><b class = "text-primary">Introduction</b></h2>
                    </div>
                <div class="panel-body">
                    <h3 id = "one"><b>Preface</b></h3>
                    <p>
                        This reference guide will assume some familiarity with JavaScript and HTML and will serve as a point of reference for implementing major features of the Tableau JS API.  For additional resources, please reference the Tableau Getting Started Guide and the Documentation.
                    </p>
                    <h3 id = "two"><b>Introduction</b></h3>
                    <p>
                        The Tableau JavaScript API provides the ability to embed, filter, and interact with vizzes and dashboards hosted in any of the three supported environments (public, online, and server).  The JS API allows full user interactivity as would be available on any of those platforms in addition to a myriad of scripted interactivity. This guide will provide examples of such capabilities with code references and explanations.
                    </p>

                </div>
                <div class = "col-md-1"> </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
