<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<body>
    <div class = "container">
        <div class = "all-questions">
            <div class = "row">
                <div class = "col-md-1"> </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class = "row">
                            <div class = "col"> <h2><b class = "text-primary">Introduction</b></h2></div>
                            <div class = "col"><h3><a href = "/basic_embed">Example 1: Basic Embed</a></h3> </div>\
                        </div>
                    </div>
                <div class="panel-body">
                    <h3 id = "one"><b>Preface</b></h3>
                    <p>
                        Here is where a list of before starting information will go.
                    </p>
                    <h3 id = "two"><b>Introduction</b></h3>
                    <p>
                        Here is where a list of before starting information will go.
                    </p>
                    <h3 id = "three"><b>Resources</b></h3>
                    <p>
                        Here is where a list of before starting information will go.
                    </p>

                </div>
                <div class = "col-md-1"> </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
