<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<body>
    <div class ="jumbotron">
        <div class = "container">
            <h1 class = "display-3">Tableau Javascript API</h1>
            <p>
                This site is a collection of resources and examples for learning the Tableau Javascript API.  Additional resources for this site can be found
                <a href = "https://onlinehelp.tableau.com/current/api/js_api/en-us/JavaScriptAPI/js_api.htm" target = "_blank">here</a> and
                <a href = "https://onlinehelp.tableau.com/current/api/js_api/en-us/JavaScriptAPI/js_api_ref.htm" target = "_blank">here</a>.
            </p>
        </div>
    </div>
    <div class ="container">
        <div class = "row">
            <div class = "col-md 1"></div>
            <div class = "col-md">
                <div class="panel panel-default">
                    Panel 1
                </div>
            </div>
            <div class = "col-md">
                <div class="panel panel-default">
                    Panel 2
                </div>
            </div>
            <div class = "col-md">
                <div class="panel panel-default">
                    Panel 3
                </div>
            </div>
            <div class = "col-md-1"></div>

        </div>
    </div>
</body>
</html>
