<% include partials/header.ejs %>
<div id="vizContainer" style="width:1300px; height:860px;"></div>
<div id="controls" style="padding:20px;">
        Year: <select id="changeCategory" onchange="categoryFilter(value);">
            <option value="">All</option>
            <option value = "Furniture">Furniture</option>
            <option value = "Office Supplies">Office Supplies</option>
            <option value = "Technology">Technology</option>
        </select>
    </div>
</body>
</html>
