<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<body>
    <div class ="jumbotron">
        <div class = "container">
            <h1 class = "display-3">Tableau Javascript API</h1>
            <p>
                This site is a collection of resources and examples for learning the Tableau Javascript API.  Additional resources for this site can be found
                <a href = "https://onlinehelp.tableau.com/current/api/js_api/en-us/JavaScriptAPI/js_api.htm" target = "_blank">here</a> and
                <a href = "https://onlinehelp.tableau.com/current/api/js_api/en-us/JavaScriptAPI/js_api_ref.htm" target = "_blank">here</a>.
            </p>
        </div>
    </div>
    <div class ="container">
        <div class = "row">
            <div class = "col-md 1"></div>
            <div class = "col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Examples Library Contents</div>
                    <div class="panel-body">
                        <ul class = "list-group list-group-flush">
                            <li class = "list-group-item"><b><a href = "/examples_home"> Homepage </a></b>​</li>
                            <li class = "list-group-item"> <span class="right"><a href = "/basic_embed"> Basic Embed </a></span><span class="left">Example 1:</span>​</li> </li>
                            <li class = "list-group-item"> <span class="right"><a href = "/dynamic_load"> Dynamic Load </a></span><span class="left">Example 2:</span>​</li></li>
                            <li class = "list-group-item"> <span class="right"><a href = "/filter_view"> Filter View </a></span><span class="left">Example 3:</span>​</li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class = "col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Here is a cool cat picture! Wow!</div>
                    <div class="panel-body">
                        <img src = "public/cat.jpeg"></img>
                    </div>
                </div>
            </div>
            <div class = "col-md-1"></div>

        </div>
    </div>
</body>
</html>
